body{
    font-family: Arial, Helvetica, sans-serif;
    background: #aaa;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}
.inputInfo{
    display: block;
    gap:15px;
    
    margin-bottom: 20px;
    
    
}
.inputInfo label{
    
    font: 14px;
    display: block;
    
    margin-bottom: 10px;
}
.inputInfo input{
    width: 100%;
    
    padding: 8px;
    border: 1px solid #aaa;
    border-radius: 4px;
    font-size: 14px;
    margin-bottom: 10px;
}
.formShape{
    background: #fff;
    padding: 20px 30px;
    width: 450px;
    border-radius: 5px;
    
}
